.qux-label{
    display: inline-block;

    .qux-richtext {
        h1 {
            font-size: 120%;
            font-weight: 600;
        }

        h2 {
            font-size: 110%;
            font-weight: 600;
        }

        h3 {
            font-size: 110%;
            font-weight: 600;
        }

        h4 {
            font-size: 105%;
            font-weight: 600;
        }

        h5 {
            font-size: 100%;
            font-weight: 600;
        }

        h6 {
            font-size: 100%;
            font-weight: 600;
        }

        b {
            font-weight: 600;
        }

        p {
            margin: 0;
        }

        table {
            border-collapse: collapse;
        }

        table td, th{ 
            border: 1px solid #333;
            padding: 4px;
        }

        table th{ 
            border: 1px solid #333;
            border-bottom-width: 2px;
            padding: 4px;
        }

    }
    &.qux-error-label-hidden{
        opacity: 0;
        transition: opacity 0.25s;
    }
}
