.qux-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  &.qux-disabled {
    pointer-events: none; 
    filter: grayscale(50%);
    cursor: not-allowed;
    .qux-common-label {
      cursor: not-allowed;
    }
  }

  &.qux-loading {
    cursor: default;
    .qux-common-label {
      cursor: default;
    }
  }

  .qux-common-label {
    width: auto
  }
}

.qux-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Adjust spacing between spinner and label if needed */
  width: 100%;
  height: 100%;
}

a.qux-button {
  text-decoration: none;
}

.qux-loading-spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #aaaaaa;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

