.qux-toggle{
    cursor: pointer;
    transition: all 0.2s;

    .qux-toggle-dots {
        width: 16%;
        text-align: left;
        display: inline-block;
    }

    &.qux-toggle-loading{
        cursor: not-allowed;
    }
}