.qux-labeled-image-list {
    box-sizing: border-box;
    overflow: auto;

    .qux-labeled-image-list-cntr {
        display: grid;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .qux-labeled-image-list-item {
        position: relative;
        cursor: pointer;
    }

    .qux-labeled-image-list-image {
        background-size: 100%;
        background-repeat: no-repeat;
        box-sizing: border-box;
    } 


    .qux-labeled-image-list-item-loading{    
        background: #fff;
        opacity: 0.25;
        animation: imageListLoadingAnimation 2s;
        animation-iteration-count: infinite;
    }

}

.qux-labeled-image-list-hook {
    opacity: 0;
    position: absolute;
    top:8px;
    right: 8px;
    border-bottom: 2px solid #333;
    border-right: 3px solid #333;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    transition: opacity 0.2s;
}

.qux-labeled-image-list-item-selected {
    .qux-labeled-image-list-image {
        opacity: 0.8;
    }

    .qux-labeled-image-list-hook{
        opacity: 1;
    }
}

@keyframes imageListLoadingAnimation {
    0% {opacity: 0.5 }
    33% { opacity: 0.8}
    66% { opacity: 0.5}
}
