.MatcDark .MatcCanvasContainer::before {
    content: ''; /* Necessary for pseudo-elements */
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #000000, 0.5px, transparent 1px); /* Adjust the dot size and color */
    background-size: 10px 10px; /* Adjust the spacing between dots */
    opacity: 0.6; /* Make the dots slightly transparent */
    pointer-events: none; /* Allows click events to pass through */
	background-repeat: repeat;
}
.MatcLight .MatcCanvasContainer::before {
    content: ''; /* Necessary for pseudo-elements */
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: radial-gradient(circle, #bcbcbc 0.5px, transparent 1px); Adjust the dot size and color */
    background-size: 10px 10px; /* Adjust the spacing between dots */
    opacity: 1; /* Make the dots slightly transparent */
    pointer-events: none; /* Allows click events to pass through */
	background-repeat: repeat;
}
