.MatcLight .MatcDialogThemed{
	background: #f2f2f2;
}

.MatcLight .MatcCanvas{
 	background: #bbb;
}

.MatcLight .MatcCanvas.MatcCanvasImageUploadDND .MatcCanvasContainer{
 	background: #ddd;
 	transition: background 0.3s;
}


.MatcLight .MatcCanvas.MatcCanvasImageUploadDND .MatcScreenDnD{
	background: rgba(255,255,255,0.5);
 	transition: background 0.3s;
}

.MatcLight .MatcCanvasImageUploadDND .MatcScreenDnD.MatcScreenDragOver{
	background: none;
}

.MatcLight .MatcCanvasContainer {
    background: #efefef;
    box-shadow: none;
    transition: background 0.3s;
}

.MatcLight .MatcCreateCatTitle .MatcCreateCatTitlelabel{	
    color: #596067;
}

.MatcLight .MatcToolbarLayerToolbar .leftside{
	background-color: #fff;
}

.MatcLight .MatcToolbarLeftCntr .MatcToolbarDenseSection, 
.MatcLight .MatcToolbarLeftCntr .MatcToolbarDenseTopSection {
	background-color: #fff;	
	border: 1px solid #d5d5d5;
 }

 .MatcLight .MatcToolbarLeftCntr .MatcToolbarDenseSection .MatcToolbarItem:hover, .MatcToolbarDenseTopSection .MatcToolbarItem:hover {
    background-color: #f3f3f3;
 }

 .MatcLight .MatcToolbarLayerToolbar .MatcToolbarItem{
	color: #1d1d1d;
}

.MatcLight .MatcCanvasFrame {
	 background: #bbb;
}

.MatcLight .MatcToolbar,
.MatcLight .MatcStatus,
.MatcLight .MatcStatusItem,
.MatcLight .MatcToolbarTop{
	background: #fff;
	font-size: 12px;
	color:#777;
}

.MatcLight .MatcToobarLeft .MatcToolbarItem:hover{
	color:var(--primary-color);
}

.MatcLight .MatcToobarPropertiesSection .MatcDashLabel,
.MatcLight .MatcToobarPropertiesSection .MatcToolbarItem,
.MatcLight .MatcToobarPropertiesSection .MatcDashRingValue{
	color:#555;
}

.MatcLight .MatcToobarPropertiesSection{
	background: #fff; /*rgb(245, 245, 245);*/
	color:#777;
}

.MatcLight .MatcToobarLeft{
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); */
}

.MatcLight .MatcStatusCntr{
	border-top: 1px solid rgba(0, 0, 0, 0.15)
}


.MatcLight .MatcToobarPropertiesSection{
	border-left: 1px solid rgba(0, 0, 0, 0.15)
}

.MatcLight .MatcSidebarListContainer.MatcToobarPropertiesSection{
	background: #fff; 
}

.MatcLight .MatcToolbarTopCntr{
	border-bottom: 1px solid  rgba(0, 0, 0, 0.15);
}

.MatcLight .MatcScreenLabel{
	color:#333;
}

.MatcLight .MatcToolbarBigLabel{
	color:#555;
}


.MatcLight .MatcBorderStyleDashed,
.MatcLight .MatcBorderStyleDotted,
.MatcLight .MatcBorderStyleSolid {
	border-color: #555;
}

.MatcLight .MatcToolbarItem {
	color:#333;
}

.MatcLight .MatcToolbarItem:HOVER {
	color:#333;
}

.MatcLight .MatcToolbarItemDisbaled,
.MatcLight .MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
	color:#ddd;
	cursor: auto;
}

.MatcLight .MatcToolbarAddSection{
	background-color: #333;
}

.MatcLight .MatcToolbar .MatcToolbarAddSection:HOVER{
	background-color: #333;
	color:#fff;
}

.MatcLight .MatcToobarItemBig .MatcToolbarItem:HOVER {
	color:#fff;
}

.MatcLight .MatcToolbarSection,
.MatcLight .MatcToolbarSeperator {
    border-right: 0px solid transparent;
}

.MatcLight .MatcStatusItem {
	 border-left: 1px solid #ccc;
}

.MatcLight .MatcToobarPropertiesSection .MatcToolbarSection {
	margin-bottom: 10px;
}

.MatcLight .MatcToobarPropertiesSection .MatcToolbarSectionCollabsed.MatcToolbarSection{
	margin-bottom: 0px;
}

.MatcLight .MatcToobarPropertiesSection .MatcToolbarSectionLabel{
	background: none;
	color:var(--section_label_color);
	font-weight: var(--section_label_weight);
	border-top:1px solid rgba(0,0,0, 0.1);
	text-align:left;
	padding-left:16px;
}

.MatcLight .MatcToobarPropertiesSection .MatcToobarSubSectionLabel {
	color:var(--section_label_color);
	text-align:left;
	padding-left:5px;
	font-weight: var(--section_label_weight);
}

/* .MatcLight .MatcSidebarListContainer.MatcToobarPropertiesSection .MatcToolbarSectionLabel,
.MatcLight .MatcSidebarListContainer.MatcToobarPropertiesSection .MatcToobarSubSectionLabel,
.MatcLight .MatcSidebarListContainer.MatcToobarPropertiesSection .MatcToolbarSectionLabel:hover,
.MatcLight .MatcToobarPropertiesSection .MatcToolbarSectionLabel:HOVER,
.MatcLight .MatcToobarPropertiesSection .MatcToolbarSection:HOVER .MatcToolbarSectionLabel{
	background:none;
	color:#333;
} */

.MatcLight .MatcToolbarSectionCollabsed  .MatcToolbarSectionLabel{
	border-bottom: none;
}

.MatcLight .MatcAction .MatcToolbarSeparator {
	border-bottom:1px solid #ccc;
}

.MatcLight .MatcLineSupportPointTouch{
 	background: #777;
 	border-color: rgb(230, 230, 230);
 }




.MatcLight .MatcToobarPropertiesSection .VommondCheckBoxLabel,
.MatcLight .MatcToobarPropertiesSection .MatcToolbarItemLabel,
.MatcLight .MatcToobarPropertiesSection .VommondRadioBoxLabel {
	color:#555;
}

.MatcLight .MatcToolbarTabs a {
	color:#555;
}

.MatcLight .MatcToolbarTabs a:HOVER {
	color:#333;
}



/****************************************************
 * Forms and Borders
 ****************************************************/



 .MatcLight .MatcToolbarPopUp {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
 }

 .MatcLight .MatcToobarRemoveBtn {
 	color: #f83a3a;
 }

  .MatcLight .MatcToobarRemoveBtn:HOVER {
 	color: #cc0000;
 }

 .MatcLight .MatcBoxShadowIcon {
 	background: #777;
 }

.MatcLight .MatcToobarPropertiesSection .MatcToolbarDropDownButton:hover{
	border: 1px solid var(--toolbar-dropdown-hover);
	background: var(--toolbar-dropdown-hover-back);
}

.MatcLight .MatcToobarPropertiesSection input , 
.MatcLight .MatcToobarPropertiesSection textarea {
	border: 1px solid transparent;
	border-top:1px solid transparent;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	color:#555;
}

.MatcLight .MatcToobarPropertiesSection input:focus,
.MatcLight .MatcToobarPropertiesSection textarea:focus{
	color:#555;
	border: 1px solid transparent;
}

.MatcLight .MatcCreateSearchContainer input {
    background: #f3f3f3;
	color:#555;
    border:1px solid #ddd
}

.MatcLight .MatcCreateSearchContainer input:hover {
    background: #f3f3f3;
	color:#555;
    border:1px solid var(--primary-color)
}

.MatcLight .MatcCreateSearchContainer input:focus {
    background: #f3f3f3;
	color:#555;
    border:1px solid var(--primary-color)
}

.MatcLight .MatcBoxBorder .MatcToolbarColor,
.MatcLight .MatcBoxBorder .MatcToolbarInputDropDownButton,
.MatcLight .MatcBoxBorder .MatcToolbarDropDownButton {
	background: #FDFDFD;
	color:#777;
	border: 1px solid #777;
	background: #fff;
}

.MatcLight .MatcToolbar .MatcToolbarInputDropDownButton input{
	color:#333;
}

.MatcLight .MatcToolbarItemActive {
    background: none;
    color:var(--primary-color);
}

.MatcLight .MatcToobarPropertiesSection .MatcToolbarItemActive {
	border: 1px solid var(--toolbar-dropdown-hover);
 	background: var(--toolbar-dropdown-hover-back);
}

.MatcLight .MatcToolbarItemActive:HOVER {
    color:#fff;
}


.MatcLight .MatcToobarPropertiesSection .MatcToolbarToggleButton:hover{
	color:#777;
	background: var(--toolbar-dropdown-hover-back);
}


.MatcLight .MatcToobarViewSection {
	background: var(--property-tab-background);
	border-top: 2px solid #fff;
}


.MatcLight .MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive,
.MatcLight .MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive:hover{
	color: var(--property-tab-selected-color);
    background: var(--property-tab-selected-background);
	border-radius: 0px;
}


.MatcLight .MatcToolbarDropDownButtonItem{
	background-color: var(--hightlight-soft-xl)
}

.MatcLight .MatcToobarPropertiesSection .MatcToolbarDropDownButton li:HOVER,
.MatcLight .MatcToolbarDropDownButtonPopup li:hover{
	background: var(--property-tab-active-background);;
	color: var(--property-tab-selected-color);;
}

.MatcLight .MatchCanvasScrollHandle {
	background: #777;
}

.MatcLight .MatcCanvasScrollBarCntr:hover .MatchCanvasScrollHandle,
.MatcLight .MatcCanvasScrollBarHandlerActive .MatchCanvasScrollHandle {
	background: #333;
}

.MatcLight .MatcBoxBorder .MatcToolbarColor.MatcToolbarItem,
.MatcLight .MatcBoxBorder .MatcToolbarInputDropDownButton.MatcToolbarItem {
	border: 1px solid var(--toolbar-dropdown-hover);
}

.MatcLight .MatcBoxBorderContainer {
	border: 1px solid var(--toolbar-dropdown-hover);
}

.MatcLight .MatcBoxBorder:HOVER .MatcBoxBorderContainer,
.MatcLight .MatcBoxBorder:HOVER .MatcToolbarColor.MatcToolbarItem,
.MatcLight .MatcBoxBorder:HOVER .MatcToolbarInputDropDownButton.MatcToolbarItem,
.MatcLight .MatcBoxBorder:HOVER .MatcToolbarDropDownButton{
	border: 1px solid var(--toolbar-dropdown-hover);
}

.MatcLight .MatcToobarPropertiesSection .MatcToobarInput::placeholder{
	font-style: italic;
	color: rgba(0, 0, 0, 0.35)
}

/****************************************************
 * VAlign
 ****************************************************/

.MatcToolbarValign{
	border-width: 1px solid transparent;
	width: 18px;
	overflow: hidden;
}

.MatcLight .MatcToolbarValignTop{
	border-top:1px solid #777;
}

.MatcLight .MatcToolbarValignMiddle{
	border-left:1px solid #777;
}

.MatcLight .MatcToolbarValignBottom{
	border-bottom:1px solid #777;
}

.MatcLight .MatcToolbarIcon-vertical{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.MatcLight .MatcToolbarIcon-vertical-bar{
	background-color: #555;
}

.MatcLight .MatcToolbarIcon-horizontal{
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

.MatcLight .MatcToolbarIcon-horizontal-bar{
	background-color: #555 ;
}

.MatcLight .MatcToobarPropertiesSection .MatcToobarInput{
	background: transparent;
	padding: 3px;
	border:1px solid transparent;
	border-radius: 4px;
	transition: none;
}


.MatcLight .MatcToobarPropertiesSection .MatcToobarInput:hover{
	border: 1px solid var(--toolbar-dropdown-hover);
	background: var(--toolbar-dropdown-hover-back);
}

.MatcLight .MatcToobarPropertiesSection .MatcToobarInput:focus {
	border: 1px solid var(--toolbar-dropdown-hover);
	background: var(--toolbar-dropdown-hover-back);
}


.MatcLight .MatcToobarPropertiesSection .MatcToobarInput:disabled {
	background: none;
}

.MatcLight .MatcScreenGridHandlex{
	border-color: #333 transparent transparent transparent;
}

.MatcLight .MatcScreenGridHandley{
	border-color: transparent transparent transparent #333;
}

.MatcLight .MatcScreenGridHandleDel.MatcScreenGridHandlex{
	border-color: red transparent transparent transparent;
}
.MatcLight .MatcScreenGridHandleDel.MatcScreenGridHandley{
	border-color: transparent transparent transparent red;
}



.MatcLight .MatcToolbarResizeElement,
.MatcLight .MatcToolbarResizePreview{
    background: #fff;
    border: 1px solid var(--toolbar-dropdown-hover);
}

.MatcLight .MatcToolbarResizeElement:hover{
    background: var(--toolbar-dropdown-hover-back);
    border: 1px solid var(--toolbar-dropdown-hover);
}


.MatcLight .MatcToolbarResizePinLine{
    background: #999;
}

.MatcLight .MatcToolbarResizeActive .MatcToolbarResizePinLine{
    background: var(--primary-color);
}

.MatcLight .MatcToolbarResizePinCenter,
.MatcLight .MatcToolbarResizePinLeft,
.MatcLight .MatcToolbarResizePinRight,
.MatcLight .MatcToolbarResizePinUp,
.MatcLight .MatcToolbarResizePinDown{
    border-color: #999;
}

.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinCenter,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinLeft,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinRight,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinUp,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinDown{
    border-color: var(--primary-color);
}

.MatcLight .MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcLight .MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #999;
}

.MatcLight .MatcToolbarResizeActive.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: var(--primary-color);
	height: 2px;
}

.MatcLight .MatcToolbarResizeActive.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine {
    background: var(--primary-color);
	width: 2px;
}


.MatcLight .MatcToolbarLayerListScreenLabel{
	font-weight: 700;
}

.MatcLight .MatcTreeItem{
	color:#333;
}

.MatcLight .MatcToolbarColorIndicator{
	border:1px solid rgba(0,0,0, 0.15)
}

.MatcLight .MatcToolbarColorIndicator:hover{
	border:1px solid rgba(0,0,0, 0.35)
}

.MatcLight .MatcToolbarDetailLabel{
	color: #777;
}


.MatcLight .MatcAnalyticsToolbar .MatcToolbarTopLeftCntr .MatcToolbarItemActive {
    background: #d6e5f8;
	color:#333;
	height: 39px;
}


.MatcLight .MatcDesignTokenList .MatcDesignTokenListSection label {
	color:#333;
	background: none;
	font-weight: 700;
	padding: 0px 16px;
}

.MatcLight .MatcToolbarSectionMarker {
	opacity: 0.5;
}

.MatcLight .MatcToobarHomeSection .MatcToolbarItem {
	color: #fff;
}


.MatcLight .MatcToolbar .VommondCheckBoxWrapper:hover .VommondCheckBox,
.MatcLight .MatcToolbar .VommondCheckBoxChecked .VommondCheckBox
{
	border:1px solid rgba(0,0,0, 0.35)
}

.MatcLight .MatcToolbar .VommondCheckBox,
.MatcLight .MatcToolbar .VommondRadioBox{
	border: 1px solid #ddd
}

.MatcLight .MatcToolbarTop{
	background: var(--primary-color-dark);
	border: 0px;
}


.MatcLight .MatcToolbarTop .MatcToolbarItem {
    color: var(--from-button-color);
}

.MatcLight .MatcToolbarTop .MatcToolbarItem:hover {
	color: var(--from-button-color-hover);
	background: rgba(255, 255, 255, 0.1);
}

.MatcLight .MatcToolbarTop .MatcToolbarItem.MatcToolbarItemActive {
    color: #fff;
	/* background:var(--primary-color) ; */
}

.MatcLight .MatcToolbarTop .MatcToolbarItem.MatcToolbarItemDisbaled {
    color: #ffffff8d;
}

.MatcLight .MatcToolbarItemSelected {
	background-color: #f3f3f3;
 }

.MatcLight .MatcCreateBtnElementList .MatcCreateBtnElement {
	border: 1px solid #f1f1f1;
}


.MatcLight .MatcCreateBtnElementList .MatcCreateBtnElementLogic {
	border: 1px solid #f1f1f1;
}

.MatcLight .MatcCreateBtnElementLabel {
	color: #000000;
}

.MatcLight .category-badge {
    color: #000;
    border: 1px solid #ddd;
}

.MatcLight .category-badge:hover {
    background: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
}

.MatcLight .category-badge.active {
    background: var(--primary-color);
	border: 1px solid var(--primary-color);
	color: white;
}


.MatcLight .MatcToolbarItemColor .MatcQIcon,
.MatcLight .MatcToolbarItemColor .mdi{
	color: var(--primary-color)
 } 

 .MatcLight .MatcCreateBtnElementList .MatcCreateBtnElementLogic .MatcCreateBtnElementLogicCntr span{
	color: #000;
}

.MatcLight .MatcSidebarHeader {
    background: white;
}