@import './widgets.css';
@import  './repeater.css';
@import './scrolltarget.css';
@import './screensegment.css';
@import './labeled_textbox.css';
@import './rest.css';
@import './navbar.css';
@import './navmenu.css';
@import './tabbar.css';