@import './vars.css';
/****************************************************
 * Buttons
 ****************************************************/

.MatcLinkBox{
    color: #333;
    display: inline-block;
}

.MatcLinkBox:hover{
	color:#333;
	text-decoration: none;
}

.MatcLinkBoxMessage{
	text-align: center;
	opacity:0;
	transition-duration:0.5s;
	color:#999;
	font-weight: 300;
	text-decoration: none;
}
.MatcLinkBox:hover .MatcLinkBoxMessage{
	opacity:1;
	text-decoration: none;
}

.MatcLinkDangerButton{
	color:var(--danger-color);
}

.MatcLinkDangerButton:hover{
	color:var(--danger-color-dark);
	background: var(--danger-color-light);
}

.MatcLinkWarningButton{
	color:var(--warning-color-dark);
}

.MatcLinkWarningButton:hover{
	color:var(--warning-color-dark);
	background: var(--warning-color-light);
}

.MatcLinkInfoButton{
	color:var(--primary-color);
}

.MatcLinkInfoButton:hover{
	color:var(--primary-color);
}


.MatcButton{
	padding: var(--button-padding);
	border-radius: var(--border-radius-m);
	cursor: pointer;
	transition: all 0.25s;
	text-align: left;
	font-size: var(--button-font-size);
	font-weight: 400;
	background-color: var(--form-color);
	border-color: transparent;
	color: #fff;
    display: inline-flex;
    align-items: center;
}

.MatcButtonL{
	font-size: var(--button-font-size-m);
}

.MatcFormButton {
	height: var(--form-height);
}

.MatcButton[disabled]{
	opacity: 0.5;
	cursor: not-allowed;
}

.MatcButton:HOVER{
 	background: var(--form-color-hover);
	text-decoration: none;
	color:#fff;
}

.MatcButtonDialog {
	display: inline-flex;
	padding: var(--button-padding);
	border-radius: var(--border-radius-m);
	cursor: pointer;
	-webkit-transition: all .25s;
	transition: all .25s;
	font-size: var(--button-font-size);
	font-weight: 400;
	background-color: var(--primary-color);
	border-color: transparent;
	color: #fff;
	align-items: center;
}

.MatcButtonDialog[disabled] {
	opacity: 0.5;
	cursor: default;
}


.MatcButtonDialog:hover {
	color: #fff;
	background: var(--primary-color-hover);;
}

.MatcLinkButton,
.MatcLinkButtonDialog {
	border-radius: var(--border-radius-m);
	padding: var(--button-padding);
	cursor: pointer;
	color: #4a4a4a;
	font-size: var(--button-font-size);
	font-weight: 700;
	background: #f1f1f1;
	align-content: center;
}

.MatcLinkButton:hover,
.MatcLinkButtonDialog:hover{
	background: #e7e7e7;
	color: #333;
}


.MatcButtonPrimary {
	background: var(--primary-color);
}

.MatcButtonPrimary:hover{
	background: var(--primary-color-hover);
}

.MatcButtonSignUp{
	background: var(--form-color);
	text-decoration: none;
	color:#fff;
}

.MatcButtonSignUp:hover{
	background: var(--form-color);
	border-color:var(--form-color-hover);
}


.MatcButtonFullWidth{
	width: 100%;
	text-align:center;
    justify-content: center;
}

.MatcButtonXS {
	padding: 3px 10px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 6px;
    font-size: 14px;
}

.MatcButtonIconLabel{
	margin-left: 3px;
}
.MatcButtonActive{
 	background: var(--form-color);
	text-decoration: none;
	color:#fff;
}


.MatcButtonPassive, .MatcButtonPassive:HOVER{
    border: 1px solid #999999;
	cursor: pointer;
	color: #999;
	background: none;
}


.MatcButtonAnimated{
	transition: all 0.2s;
}

.MatcButtonClosed{
	width:0px;
	opacity:0;
	padding: 3px 0px;
	overflow: hidden;
}

.MatcButtonRed,
.MatcButtonDialogDanger{
	background:var(--danger-color);
}

.MatcButtonRed:HOVER,
.MatcButtonDialogDanger:hover{
	background: var(--danger-color-dark);
	color:#fff;
}

.MatcButtonRedSecondary{
	background:#fff;
	color: var(--danger-color);
	border: 1px solid var(--danger-color);
}

.MatcButtonRedSecondary:HOVER{
	background: var(--danger-color);
	color:#fff;
}

.MatcButtonTrans{
	background:none;
	border:1px solid #fff;
	color:#fff;
}

.MatcButtonTrans:HOVER{
	background:rgba(255,255,255,0.2);
	border:1px solid #fff;
}

.MatcButtonRed.MatcButtonTrans{
	color:#cc0000;
}

.MatcButtonGreen{
 	background: #92c500;
 	border:1px solid #92c500;
	color:#fff;
}

.MatcButtonGreen:HOVER{
 	background: #6da000;
 	border:1px solid #6da000;
	color:#fff;
}

.MatcButtonLarge{
	padding: 8px 40px;
	font-size: 21px;
}

.MatcButtonXXL{
	padding: 10px 20px;
	font-size: 30px;
}

.MatcRemoveIcon{
	cursor: pointer;
}
.MatcRemoveIcon:hover{
	color: var(--danger-color)
}


.MatcPlus, .MatcCirleButton{
	background: none repeat scroll 0 0 rgba(0, 153, 204, 1);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 50px;
    height: 80px;
    overflow: hidden;
    padding-top: 7px;
    position: relative;
    text-align: center;
    width: 80px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.MatcPlus{
	padding-left: 5px;
}

.MatcCirleButton.MatcCirlePassive{
	background: #cecece;
}

.MatcPlus:hover, .MatcCirleButton:hover, .MatcCirleButton.MatcCirlePassive:hover{
	 background: #6da000;
}

.MatcRemove{
	width:24px;
	width:24px;
	background: #333;
	text-align: center;
	color:#fff;
	border-radius:50%;
}

.MatcRemove:hover{
	background: red;
}


.MatcButtonGroup .MatcButton{
	margin-left: 5px;
	margin-right: 5px;
}


.VommondDataBindingPassive.MatcButton{
	cursor:auto;
	border: 1px solid #999999;
	cursor: pointer;
	color: #999;
	background: none;
}

.VommondDataBindingPassive.MatcButton:HOVER{
	cursor:auto;
	border: 1px solid #999999;
	cursor: pointer;
	color: #999;
	background: none;
}


/****************************************************
 * Vertical Button Group
 ****************************************************/


.MatcVerticalButtonGroup{
	display: inline-block;
}

.MatcVerticalButtonGroup .MatcButton{
	display:block;
	margin: 0px;
	padding:3px 10px;
	border-radius:0px;
	border-bottom:1px solid var(--form-color);
}

.MatcVerticalButtonGroup .MatcButton:HOVER{
	border-bottom-color: #6da000;
}

.MatcVerticalButtonGroup .MatcButton:FIRST-CHILD{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.MatcVerticalButtonGroup .MatcButton:last-child{
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom: 2px solid var(--form-color);
}

.MatcVerticalButtonGroup .MatcButton:last-child:HOVER{
	border-bottom: 2px solid #6da000;
}

/****************************************************
 * Buttons Bar
 ****************************************************/

.MatcButtonBar{
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.MatcDialog .MatcButtonBar{
	margin-top: 20px;
}

.MatcDialog .MatcButtonBar.MatcMarginTopXL{
	margin-top: 40px;
}

.MatcDialog .MatcButtonBar.MatcMarginTopXXL{
	margin-top: 60px;
}

.MatcButtonBarRelative{
	position: relative;
}

.MatcButtonBarRelative .MatcButtonRight{
	float:right;
	font-size: 16px;
}


.MatcButtonBar .MatcButtonLeft{
	position: absolute;
	left:0px;
}

.MatcButtonBar .MatcButtonRight{
	position: absolute;
	right:0px;
}

.MatcButtonBar.MatcButtonBarCenter{
	text-align: center;
}

.MatcButtonBar.MatcButtonBarRight{
	text-align: right;
}

.MatcActionBar{
	font-size: 14px;
	text-align: center;
}

.MatcButtonBar .MatcError {
	height: 100%;
}
  