@import './vars.css';
@import './form/segment.css';

.form-group {
    margin-bottom: 16px;
}

.form-group label {
	margin-bottom: 4px;
	font-size: var(--form-font-size);
	font-weight: 600;
}

.form-control{
	box-shadow:none;
	border-radius: var(--from-radius);
	transition: all 0.2s;
	font-size: var(--form-font-size);
    font-weight: 400;
    line-height: 1.4375em;
    color: rgb(42, 53, 71);    
	border-color: var(--form-border);
	animation-duration: 10ms;
	box-shadow:none;
}

.form-control:hover {
	box-shadow:none;
	border-color: var(--form-border-hover);
}


.form-control:FOCUS {
	box-shadow:none;
	border-color: var(--form-border-focus);
}

input:focus{
	outline:none;
}

.form-control-label{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 0px;
	font-size: 14px;
	font-style: italic;
}

.form-control-error,
.form-control-error:hover, 
.form-control-error:focus {
	border-color: var(--danger-color-dark);
	color: var(--danger-color-dark)
}

textarea.form-control-l {
	height: 96px;
}

.form-group-button-row{
	display: flex;
	align-items: center;
	gap: 32px;

}

.form-group-button-row .form-control {
	width: 90%;
}


 /****************************************************
 * Forms
 ****************************************************/

 .MatcFormRow{
 	text-align: left;
 	margin-bottom: 20px;
 }

.MatcFormRow label{
 	display: block;
}

.MatcFormRow input{
 	width: 300px;
}

.MatcErrorLabel{
	color: #f83a3a;
	height:20px;
	padding:5px;
	transition-duration: 0.2s;
}

.MatcFormRemoveIcon.mdi {
	color: #ccc;
	cursor: pointer;
}

.MatcFormRemoveIcon.mdi:hover {
	color: #f83a3a;
}


.MatcHintLabel{

}

.MatcHintLabelHidden{
	opacity:0,
}

.VommondFormErrorLabel {
    font-style: italic;
    color: #f83a3a;
    font-size:14px;
}

.VommondDialogContent .VommondFormErrorLabelBottom{
	margin-top:-25px;
	padding-bottom:10px;
}

.VommondFormInputError{
	border-color: #f83a3a;
}
.MatcErrorLabel.MatcErrorLabelEmpty{
	opacity:0;
}

.MatcSuccessLabel{
	color: #92c500;
}

.MatcFormRow textarea{
 	width: 300px;
}

.MatcTableLabel{
	padding: 20px;
}

.MatcInlineEdit{
	border: 1px transparent solid;
	width: 100%;
	resize: none;
	padding: 10px 16px;
	background: none;
}

.MatcInlineEdit.MatcBold{
	font-weight: bold;
}

.MatcInlineEdit:hover{
	border: 1px #cecece dashed;
}

.MatcInlineEdit:focus{
	border: 1px var(--form-color) dashed;
}



/****************************************************
 * App Selector
 ****************************************************/

.MatcAppSelector{
	display: inline-block;
}


/****************************************************
 * DialogTable
 ****************************************************/

 .MatcDialogTable{
 	overflow: hidden;
 	padding: 0px;
 	background: rgb(245, 245, 245);
	border: 1px solid #cecece;
	border-radius:var(--from-radius);
	height: 450px;
 }

 .MatcDialogTableSmall {
	height: 350px;
 }

 .MatcDialogTable.MatcDialogTableScrollable{
	overflow: scroll;
 }

 .MatcDialogTransTable{
    border: 1px solid #cecece;
    border-radius:var(--from-radius);
    height: 350px;
    overflow:hidden;
 }

 .MatcDialogTable table{
 	width: 100%;
 	min-width: 250px;
 }

 .MatcDialogTableXL table{

  	min-width: 450px;
 }

.MatcDialogTable thead{
	font-weight: bold;
	background: rgb(230, 230, 230);
	border-bottom: 1px solid #cecece;
}




.MatcDialogTable td.MatcDialogTableCheckBoxCntr{
	padding: 10px 0 10px 10px;
    width: 40px;
}

.MatcDialogTable td.MatcDialogTableCheckBoxLabel{
	padding:10px;
}

.MatcDialogTable tr{
 	border-bottom: 1px solid #cecece;

}

.MatcDialogTable tr:HOVER{
	background: rgb(230, 230, 230)
}

.MatcDialogTable td,
.MatcDialogTable th {
	padding: 10px 20px;
}

.MatcDialogTable td.MatcDialogTableAction {

	cursor: pointer;
}

.MatcDialogTableInvalidRow{
	text-decoration: line-through;
}



/****************************************************
 * Popover Bar
 ****************************************************/

.MatcPopoverCntr{
	position: relative;
	overflow: hidden;
	box-sizing: padding-box;
}

.MatcPopoverCntr .MatcPopover{
	position:absolute;
	width:100%;
	height:100%;
	bottom:-100%;
	transition-duration: 0.1s;
	background: rgba(0,0,0,0.8);
	display: block;

	border-radius:3px;

	z-index: 11000;
}

.MatcPopoverCntr:HOVER .MatcPopover{
	bottom:0px;
}

.MatcPopoverCntr .MatcButton{
	width: 80%;
	text-align: center;
	border: 0px;
}

.MatcPopoverBtn{
	color:#fff;
	font-size: 40px;
	text-decoration: none;
	display: inline-block;
}



/****************************************************
 * table
 ****************************************************/

 .vommondTable .action .MatcButton{
 	margin-left: 10px;
 }

.vommondTable .vommondInlineEdit{
  margin-left:-16px;
}

/****************************************************
 * DropDown Select
 ****************************************************/
 .MatcDropDownSelect.MatcDropDownSelect{
	display: inline-block;
	position: relative;
	color: var(--form-color);
	border:1px solid var(--form-color);
}

.MatcDropDownSelect.MatcDropDownSelect:hover{
	color: #fff;
}

.MatcDropDownSelect .MatcDropDownPopUp{
	left: auto;
	right: 0px;
	width: 200px;
}

.MatcDropDownSelect .MatcDropDownSelectCheck .VommondCheckBoxWrapper {
	width: 100%;
}

.MatcDropDownSelectCheck {
}

/****************************************************
 * DropDown
 ****************************************************/

.MatcDropDownButton{
	display: inline-block;
	position: relative;
	background: #fff;
	border:1px solid var(--form-color);
}

.MatcDropDownButtonButton {
	display: flex;
	align-items: center;
}

.MatcDropDownButtonButton .MatcDropDownLabel{
	flex-grow: 1;
}

.MatcDropDownButtonLine {
	padding-top: 4px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 4px;
}

.MatcDropDownButton.MatcButtonGreen{
	border-color:#7cb342;
	border-color:transparent;
}

.MatcDropDownButton.MatcButtonRed{
	border-color:transparent;
	background: #f83a3a;
}

.MatcDropDownButton.MatcButtonRed:HOVER{
	background: #b90505;
	color:#fff;
}

.MatcDropDownButton.MatcButtonTrans{
	border-color:var(--form-color);
	color: var(--form-color);
}


.MatcDropDownButton .caret,
.MatcDropDownButton .mdi{
	color: var(--form-border);
}

.MatcDropDownButton:hover .mdi{
	color: var(--form-border-focus);
}

.MatcDropDownButtonWidth{
	min-width:100%;
}

.MatcDropDownButtonWidthFlex {
	min-width: none;
	flex-grow: 1;
}

.MatcDropDownIcon{
	vertical-align: middle;
	margin-right: 8px;
	width: 16px;
    height: 16px;
	display: inline-block;
}

.MatcDropDownLabel{
	font-weight: 400;
	margin-right: 5px;
	margin-bottom: 0px !important;
	line-height: 1;
}

.MatcDropDownPopUp{
	display: none;
	position: absolute;
	top: 100%;
	left:0px;
	text-align:left;
	z-index: 900000;
	padding: 0px;
	background: white;    
	box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02);
	border-radius: 7px;
	border: 1px solid rgb(223, 229, 239);
	margin-top: 5px;
}

.MatcDropDownRight .MatcDropDownPopUp {
	left: auto;
	right: 0px;
}


.MatcDropDownUp .MatcDropDownPopUp{
	top:auto;
	bottom:100%;
}

.MatcDropDownButtonOpen .MatcDropDownPopUp, 
.MatcDropDownButtonBackdrop .MatcDropDownPopUp,
.MatcDropDownButtonOpen.MatcDropDownPopUp{
	display: block;
}

.MatcDropDownButtonBackdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	z-index: 999999999;
}


.MatcDropDownButtonBackdrop .MatcDropDownButtonWidth{
	min-width:unset;
}


.MatcDropDownPopUp ul{
	padding-left: 0px;
	min-width: 60px;
	margin-bottom: 0px;
	max-height:200px;
	overflow-y: auto;
    scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;
	border-radius: 7px;
}

.MatcDropDownLabel{
	cursor: pointer;
}
.MatcDropDownPopUp li{
	list-style: none;
	cursor: pointer;
	color:#333;
	padding:var(--form-padding);
	cursor: pointer;
	white-space: nowrap;
	font-size: 16px;
}

.MatcDropDownPopUp li label{
	font-weight: 400;
}


.MatcDropDownPopUp li.passive{
	color:#ccc;
}

.MatcDropDownPopUp li:HOVER{
	background: #d6e5f8;
}

.MatcDropDownPopUp li.MatcDropDownButtonSelected{
	background: var(--primary-color);
	color: #fff;
}


/****************************************************
 * Slider & Co
 ****************************************************/

 .MatcForm .VommondSlider {
 	width:75%;
 }

.MatcForm .VommondSliderPos{
	height: 30px;
}

.MatcForm .VommondSliderContainer{
	height: 10px;
	background: #cecece;
}

.MatcForm .VommondSliderBar{
	background: var(--form-color);
}

.MatcForm .VommondSliderHandle{
	background: var(--form-color);
	border-radius: 2px;
    height: 21px;
    border-color:var(--form-color);
}

.MatcForm .VommondSliderHandle:hover{
	background: var(--form-color);
    border-color:var(--form-color);
}

.MatcForm .vommondLegendBarItem{
	border-right: 1px solid #cecece;
}

.MatcForm .vommondLegendBarItemLabel{
	color:#999;
}


.MatcForm  .VommondRadioBoxMark{
	background:var(--form-color);
}


.MatcSliderLabel{
	color:#999;
	width:150px;

	display: inline-block;
	vertical-align: top;
	padding-left: 50px;
}
/****************************************************
 * CheckBoxes & Co
 ****************************************************/

.MatcCheckBoxContainer{

}

.MatcCheckBoxLabel{
	vertical-align: top;
}

.MatcFormCheckBox,  .form-group .VommondCheckBox,
.MatcFormCheckBox .VommondCheckBox{
	height: 24px;
	width: 24px;
	border-radius: 3px;

	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.VommondRadioBox{
	height: 24px;
	width: 24px;
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

 .MatcFormGroup{
 	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
 	border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

textarea.form-control.MatcTextAreaSmall{
	height: 30px;
	overflow: hidden;
}

textarea.MatcTextAreaMedium {
	height: 96px;
	overflow: hidden;
}

.form-group .MatcDropDownButton{
	display:flex;
	width: 100%;
	font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 16px;
    border: 1px solid var(--form-border);
    color:#555;
	align-items: center;
	border-radius: var(--from-radius);
	padding-right: 6px;
}

.form-group .MatcDropDownButton .MatcDropDownButtonButton{
	flex-grow: 1;
}

.form-group  .MatcDropDownButton.MatcDropDownButtonDisabled {
	cursor: default;
	background: #f1f1f1;
	cursor: default;
}

.MatcDropDownButtonDisabled .MatcDropDownLabel {
	cursor: default;
}

.form-group  .MatcDropDownButton.MatcDropDownButtonDisabled:hover {
	cursor: default;
	background: #f1f1f1;
	border: 1px solid var(--form-border);
}


.form-group .MatcDropDownButton .caret{
	color: #ccc;
}

.form-group .MatcDropDownButton:HOVER{
    border: 1px solid var(--form-border-hover);
 	background:#fff;
}


.form-control-btn {
	display: flex;
	gap: 8px;
}

.form-control-btn .MatcButton {
    height: 34px;
    padding: 8px;
}

.form-control[disabled] {
	cursor: default;
	background: #f1f1f1;
}
.form-control[disabled]:hover {
	cursor: default;
	background: #f1f1f1;
	border: 1px solid var(--form-border);
}


/****************************************************
 * Combo
 ****************************************************/

