
@import './vars.css';

/****************************************************
 * List Widget
 ****************************************************/
.MatcAbsList{
	position: relative;
	border: 1px dotted #ccc;
}


.MatcAbsList .MatcListItem{
	display: inline-block;
	position: absolute;
}

/****************************************************
 * List Widget
 ****************************************************/

.MatcList{

}

.MatcListContainer{
	clear: both;
}
.MatcListRow{
	clear: both;
}

.MatcListColumn{
	display: inline-block;
	vertical-align: top;
}

.MatcFlexList {
	width: 100%;
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 32px 32px;    
	padding-left: 20px;
    place-items: center;
}

.MatcFlexList .MatcListItem {
	margin-bottom: 16px;
}


.MatcListItem{
	vertical-align: top;
	display: inline-block;
}

.MatcListLoading{
	color: #ccc;
    display: inline-block;
    font-size: 50px;
    height: 100%;
    padding: 100px;
    vertical-align: middle;
    width: 300px;
}

.MatcListItemAnimated{
	transition-duration:1.5s;
}

.MatcListItemHidden{
	opacity:0;

}

.MactListItemTiny{
	 -ms-transform: scale(0.1,0.1); /* IE 9 */
    -webkit-transform: scale(0.1,0.1); /* Safari */
    transform: scale(0.1,0.1);
}


.MatcListSearchCntr{
	text-align: right;
}

.MatcSearchForm input{
 	width: 0px;
 	opacity:0;
 	transition: all 0.3s;
 	margin-right: 10px;
 	border:0px;

 	padding:3px;
 	background: none;
}

.MatcSearchForm{
	display: inline-block;
	border-bottom: 1px solid transparent;
}

.MatcSearchForm .mdi {
	cursor: pointer;
}

.MatcListSearchVisible input{
	width: 200px;
	opacity:1;
	border-bottom: 1px solid #ccc;
}

.MatcListSearchVisible .MatcSearchForm{
	border-bottom: 1px solid #ccc;
}


.MatcAppListMobile{
	text-align: center;
}


/****************************************************
 * Screen List
 ****************************************************/

.MatcScreenList .MatcPreviewWrapper{
	width:250px;
	opacity: 1;
	transition-duration: 0.2s;
}

.MatcScreenList .MatcListItem:hover .MatcPreviewWrapper{
	opacity: 0.8;
}

.MatcAppListLoading .MatcPreviewWrapperLoadable{
	background: #f2f2f2;
}

.MatcAppListLoading .MatcPreviewStatusMsg{
	color:#ccc;
	padding-top:100px;
	display:inline-block;
}

 /****************************************************
 * App List
 ****************************************************/

.MatcListItem a:hover{
	text-decoration: none;
}

.MatcAppListItem{
	position: relative;
	display: inline-block;
}

.MatcAppListItem:LAST-CHILD{
	margin-right: 0px;
}

.MatcListItemName{
	margin-top:30px;
	font-weight: 300;
}

.MatcAppListContFlex {
	display: flex;
    height: 100%;
    width: 100%;
}

.MatcAppList {
    width: 100%;
    height: 100%;
}

.MatcAppList .MatcPhone{
	padding:20px;
	padding-bottom: 40px;
}

.MatcAppList .MatcPreviewWrapper{
	width:250px;
	height:250px;
	transition-duration: 0.5s;
	box-shadow:none;
}

.MatcAppList.MatcAppListBig .MatcPreviewWrapper{
	width:350px;
	height:300px;
}

.MatcAppList.MatcAppListSmall .MatcPreviewWrapper{
	width:178px;
	height:160px;
}


.MatcAppListItemAdd{
	border: 3px dashed #cecece;
	 transition-property: all;
    transition-duration: 0.5s;
}

.MatcAppListItemAdd:HOVER{
	border: 3px dashed var(--form-color);
}

.MatcApplListAdd{
	font-size: 150px;
	color: #cecece;
	width:100%;
	text-align: center;
    display: inline-block;
    border-radius:50%;
 
    transition-duration: 0.2s;
}

.MatcListItem:HOVER .MatcApplListAdd{
	color:#92c500;
}

.MatcAppListItem .MatcListItemFooter{
	width: 220px;
    border-top: 1px solid var(--border-color-soft);
    height: 70px;
    padding: 8px 10px;
	display: grid;
	gap: 5px;
}

.MatcAppListItem .MatcListItemDescription{	
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    overflow: hidden;
    /* font-style: italic; */
    font-size: 12px;
    font-weight: 600;
    line-height: 1.4;
    color: #333;
    gap: 16px;
	white-space: normal;
	overflow-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}


.MatcAppListItem .MatcListItemSecondRow {
	display: flex;
	justify-content: space-between;
}

.MatcAppListItem .MatcListItemEdited{
	font-size: 11px;
    font-weight: 400;
    line-height: 1.4;
    color: #a5a5a5;
    display: flex;
    padding-bottom: 8px;
	white-space: normal;
	overflow-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
    bottom: 0px;
    position: absolute;
}

.MatcListItemDescription svg {
	display: inline-block;
	vertical-align: middle;
	color:#777;
}


.MatcAppListItem h3{
	color:#333;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 30px;
}



.MatcAppListBox.MatcContentBox.MatcShadowBox.MatcAppListAddBox .MatcPreviewWrapper{
	background: #fff;
}

.MatcAppListBox .MatcPreviewWrapper{
	transition-duration: 0.2s;
    transition-property: all;
}


.MatcAppListBox:hover{
	transition-duration: 0.2s;
    transition-property: all;
    box-shadow: 0 0px 5px rgba(0,0,0,0.20);
    border:1px solid var(--form-color);
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
}

.MatcAppListBox .MatcPreview{
	transition-duration: 2.0s;
    transition-property: transform;
}

.MatcAppList .MatcAppListBox .MatcPreviewWrapper{
	height:280px;
	width: 220px;
	position: relative;
}

.MatcAppList.MatcAppListBig .MatcAppListBox .MatcPreviewWrapper{
	height:450px;
}

.MatcAppListBox .MatcApplListAdd{
    transition-duration: 0.5s;
    transition-property: all;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	height: 100%;
}

.MatcAppListBox.MatcListItem:HOVER .MatcApplListAdd{
	color:#3787f2;
	transform:scale(1.05, 1.05);
}

.MatcAppListStack{
	width: 100%;
	height:350px;
	position: absolute;
	background: #fff;
	top:-8px;
	left:8px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.15);
    border-radius:3px;
    border:1px solid #ddd;
    opacity:1;
    transition: opacity 0.2s;
}

.MatcAppListLoading .MatcAppListStack{
	opacity:0;
}