@import 'bootstrap/min.css';
@import 'material17/css/materialdesignicons.min.css';
@import 'vommond.css';
@import 'common.css';
@import "flex.css";
@import 'page.css';
@import 'buttons.css';
@import 'form.css';

@import 'dialogs.css';
@import 'dash.css';
@import 'colors.css';
@import "custom.css";
@import "scroll.css";
@import "team.css";


