@import './vars.css';

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 34px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color-light) 100%);
  outline: none;
  transition: background 0.3s ease;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--primary-color);
  transform: scale(1.1);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}

.slider::-moz-range-thumb:hover {
  background: var(--primary-color-dark);
  transform: scale(1.1);
}

.value-display {
  font-size: 12px;
  color: #333;
  margin-left: 16px;
  padding: 2px 5px;
  border: 0px solid #ddd;
  border-radius: 5px;
  height: 34px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}