@import './vars.css';

.MatcTree{
  margin: 0px;
  padding:0px;

}

.MatcTreeItem {
  border-top: 2px solid transparent;
  color: #555;
}

.MatcTreeItem.MatcTreeItemDragOver {
  border-top: 2px solid #3787f2;
}

.MatcTreeItemRow{
  position: relative;
  display: flex;
  align-items: center;
}

.MatcTree .MatcTreeItemEnd .MatcTreeItemRow {
  height: 4px;
}

.MatcTree .MatcTreeItemEnd .MatcTreeIcon,
.MatcTree .MatcTreeItemEnd .MatcTreeItemLabel{
  display: none;
}



.MatcTreeItemRow:hover{
  color: #111;
}

.MatcTreeItem.MatcTreeItemSelected,
.MatcTreeItemRowSelected,
.MatcTreeItemSelected .MatcTreeItem{
  background: var(--layer-list-selection);
}

.MatcTreeItemSelected .MatcTreeItemRow:hover{

}

.MatcTree .MatcTreeItemLabel {
  font-weight: 400;
  font-size: 12px;
  padding: 4px 0px 0px 6px;
  cursor: pointer;
}

input.MatcTreeItemLabel {
  width: calc(100% - 30px);
}

.MatcTree ul {
  list-style: none;
  margin: 0px;
  padding:0px;
}

.MatcTree ul li{
  width: calc(100%);
  margin-left: 0px;
}

.MatcTree ul li ul{
  margin-left: 0px;
}

.MatcTree .MatcTreeIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.MatcTree .MatcTreeToggleChildrenIcon {
  cursor: pointer;
  color: #aaaaaa;
}

.MatcTree .MatcTreeToggleChildrenIcon:hover {
  color: #555555;
}

.MatcTree .MatcTreeIcon.MatcTreeIconClosed {
  transform:rotate(-90deg);
  transform-origin: 50% 50%;
  color:red;
}

.MatcDark .MatcTreeItem {
  color:#ddd;
}

.MatcDark .MatcTreeItemRow:hover{
  color: #ddd;
}

.MatcDark .MatcTreeItem .mdi {
  color: #999;
}

.MatcDark .MatcTreeItem.MatcTreeItemSelected .mdi {
  color: #fff;
}

.MatcDark .MatcTreeItem.MatcTreeItemSelected,
.MatcDark .MatcTreeItemSelected .MatcTreeItem{
  background: #13161B;

}

.MatcTreeItemRow .MatcTreeItemOptions{
  display: none;
}

.MatcTreeItemRow .MatcTreeItemOptions .mdi{
  font-size: 16px;
  cursor: pointer;
}


.MatcTreeItemRow:hover .MatcTreeItemOptions,
.MatcTreeItemRow.MatcTreeItemOptionsVisible .MatcTreeItemOptions,
.MatcTreeItemSelected .MatcTreeItemRow .MatcTreeItemOptions{
  display: block;
  position: absolute;
  right: 4px;
  top: 4px;
}

.MatcTreeItemSelected .MatcTreeItemRow .MatcTreeItemOptions .mdi{
 
}

.MatcTree ul.MatcTreeItemLevel0{
  padding-left: 0px;
  padding-bottom: 2px;
}

.MatcTreeItemLevel1 .MatcTreeItemRow {
  padding-left: 16px;
}

.MatcTreeItemLevel2 .MatcTreeItemRow {
  padding-left: 32px;
}


.MatcTreeItemLevel3 .MatcTreeItemRow {
  padding-left: 48px;
}


.MatcTreeItemLevel4 .MatcTreeItemRow {
  padding-left: 64px;
}

.MatcTreeItemLevel5 .MatcTreeItemRow {
  padding-left: 80px;
}

.MatcTreeItemLevel6 .MatcTreeItemRow {
  padding-left: 96px;
}

.MatcTreeItemLevel7 .MatcTreeItemRow {
  padding-left: 112px;
}

.MatcTreeItemLevel8 .MatcTreeItemRow {
  padding-left: 120px;
}

.MatcTreeItemLevel8 .MatcTreeItemRow {
  padding-left: 128px;
}

.MatcTreeItemLevel9 .MatcTreeItemRow {
  padding-left: 132px;
}

.MatcTreeItemLevel10 .MatcTreeItemRow {
  padding-left: 140px;
}

.MatcTreeTypeIcon.mdi {
  opacity: 0.5;
}

.MatcTreeIconRoot.mdi {
  opacity: 1;
}

.MatcSchemaTree .MatcTreeItemSelected .MatcTreeItemRow .MatcTreeItemOptions{
  display: none;
}

.MatcSchemaTree .MatcTreeItemSelected .MatcTreeItemRow:hover .MatcTreeItemOptions{
  display: block;
}