$main_color: #3787f2;
$text-color-passive: #ccc;
$text-color-dark: #363636;
$color-danger: #f83a3a;
$color-passive: #777;

$form-color: #04152c;
$form-color-hover: #000;

$layer-list-selection: #d6e5f8;

$color-black: #000;
$color-red: #f94c4c;
$color-red-dark: #f83a3a;

$color-primary:#3787f2;
$color-primary-hover:#3379d3;

$table-background:rgb(245, 245, 245);
$table-selected: #d6e5f8;

$table-border: #b5b5b5;

$input_border: rgb(223, 229, 239);
$input_border_hover: hsl(0deg, 0%, 71%);
$input_border_focus: #000;
$input_border_radius: 2px;

$table_header: rgb(245, 245, 245);

$from-height:34px;


$spacing-xxxl:96px;
$spacing-xxl:64px;
$spacing-xl:40px;
$spacing-lx:32px;
$spacing-l:24px;
$spacing-m:16px;
$spacing-s:8px;
$spacing-xs:4px;

$font-weight: 400;
$font-weight-l: 500;
$font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

$font-size-xxl: 1.8rem;
$font-size-xl: 1.6rem;
$font-size-l: 24px;
$font-size-m: 24px;
$font-size-default: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;
