/****************************************************
* Tab Container
****************************************************/
.MatcToolbarTabContainer{
	padding: 8px;
	padding-top: 0px;
}

.MatcToolbarTabsFlex {
	display: flex;
	padding-right: 25px;
}

.MatcToolbarTabs{
	text-align: center;
}

.MatcToolbarTabs a{
	margin-right: 5px;
	font-size: 12px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ddd;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.MatcToolbarTabsBig.MatcToolbarTabs{
	text-align: left;
	display: flex;
	justify-content: flex-start;
	gap:8px
}

.MatcToolbarTabsBig a{
	font-size: 18px;
	padding: 5px;
	border-bottom-width: 2px;
}

.MatcToolbarTabs a:HOVER{
	color: #fff;
}

.MatcToolbarTabs a.MatcToolbarTabActive{
	border-bottom-color: var(--primary-color);;
	color: #333;
}


.MatcDialog .MatcToolbarTabs a {
    color:#333;
	font-size: 18px;
    border-bottom: 2px solid transparent;
}

.MatcDialog .MatcToolbarTabs a.MatcToolbarTabActive {
    border-bottom-width: 2px;
    border-bottom: 2px solid  var(--primary-color);
}

.MatcDialog .MatcToolbarTabs a:hover{
	color: var(--form-color-hover);
}
