.MatcAutoCompleteTextarea {

    width: 100%;
    height: 290px;
    position: relative;
    

    .MatcQIcon{
        position: absolute;
        top:8px;
        right: 8px;
        z-index: 1;
        cursor: pointer;
        opacity: 0.5;

        &:hover{
            opacity: 1;
        }
    }

    .form-control {
        width: 100%;
        height: 100%;
        resize: none;
        overflow-y: auto;
    }


    .MatcAutoCompleteTextareaCntr{
        height: 100%;
        width: 100%;
        height: 100%;
        resize: none;
        overflow-y: auto;

        .textarea-wrapper {
            width: 100%;
            height: 100%;
            resize: none;
            overflow-y: auto;
            padding-right: 32px;
        }

     
        .MatcAutoCompleteTextareaPopup {
            position: absolute;
            min-height: 20px;
            min-width: 200px;
            top:0px;
            left:0px;
            overflow: hidden;

            .MatcAutoCompleteTextareaPopupItem {
                padding: 4px;
            }

            .MatcAutoCompleteTextareaPopupItemSelected{
                background: #cecece;
            }
        }

        .dropdown-search {
            width: 100%;
            border:none;
            border-bottom: var(--form-border) 1px solid;
        }
    }
}

.MatcAutoCompleteTextareaXXS {
    height: 100px;
}

.MatcAutoCompleteTextareaXS {
    height: 200px;
}

.textarea-wrapper {
  position: relative;

  &.has-placeholder::before {
    content: attr(data-placeholder); 
    position: absolute;
    top: 4.5px;
    left: 11.5px;
    color: #8b8b8b; 
    pointer-events: none;
    opacity: 0.7;
    display: block;
  }
}

.MatcAutoCompleteTextareaFullScreen {
    background: red;

    .MatcAutoCompleteTextareaCntr {
        position: fixed;
        top:10vh;
        left: 10vw;
        height: 80vh;
        width: 80vw;
        z-index: 100001;

        .form-control {
            border-color: transparent;
        }
    }
}

.MatcAutoCompleteTextareaFullScreenBackdrop {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
    background: rgba(0,0,0,0.25);
    backdrop-filter: blur(4px);
}