@import "../variables.scss";

.MatcSecretList {
  display: flex;
  flex-direction: column;
  gap: $spacing-m;

  .MatcSecretListRow {
    display: flex;
    align-items: center;
    gap: $spacing-m;
    width: 100%;

    > input,
    .VommondInput {
      flex-grow: 1;
      width: 33%;
    }

    span {
      width: 32px;
    }

    .mdi.remove {
      text-align: right;
      font-size: $font-size-m;
      cursor: pointer;

      &:hover {
        color: $color-red-dark;
      }
    }

    &:hover .mdi {
      opacity: 1;
    }
  }
}

.MatcToolbarSecretCntrScroll {
  overflow-y: auto;
  scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  height: 500px;
  padding-right: 10px;
}

.MatcSecretBoxCntr {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
  justify-content: space-between;
}

.MatcSecretBox {
  border: 1px solid #ddd;
  width: 45%;
  border-radius: 6px;
  padding: 12px 16px 8px 16px;
  padding-right: 8px;
  gap: 8px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  height: 72px;

  &.MatcSecretBoxNew {
    border-color: $color_primary;
    color: $color_primary;
    background: $layer-list-selection;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mdi {
    cursor: pointer;
    opacity: 0;

    &:hover {
      color: $color-red-dark;
    }
  }

  &:hover {
    border: 1px solid #ccc;
    background: rgba($color: #000000, $alpha: 0.02);

    .mdi {
      opacity: 1;
    }
  }

  &.MatcSecretBoxNew:hover {
    border-color: $color-primary-hover;
    color: $color-primary-hover;
    background: $layer-list-selection;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    flex-grow: 1;
    margin: 0px;
    margin-bottom: 8px;
    width: max-content;
  }

  span {
    font-size: 11px;
  }
  .time-since {
    color: #888;
    margin-left: 8px;
    font-size: 0.9em;
  }
}

.MatcSecretHeader {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-l;
}

.secret-dropdown {
  label.MatcDropDownLabel,
  .MatcDropDownPopUp li {
    display: flex;
    align-items: center;
  }
  .MatcDropDownPopUp li {
    padding: 8px 16px;
  }
}

.backIcon {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 16px;
  display: inline-block;

  .mdi {
    position: absolute;
    transform: scale(2);
  }
}

.secretsDates {
  .secretsDate {
    font-weight: 600;
    span {
      font-size: 14px;
    }
  }
  span {
    font-size: 12px;
    color: #888;
  }
  margin-bottom: 16px;
}