@import "../variables.scss";

.MatcWorkspace {
  display: flex;
  height: calc(100vh - 40px);
  width: 100%;

  .MatcSection {
    padding: 0rem;
  }

  .MatcWorkspaceHeaderBlock {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: sticky;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    background: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    margin-bottom: 20px;
  }

  .MatcWorkspaceHeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding: 10px 30px 10px 30px;
    position: relative;
    z-index: 92000;
    width: 100%;
    background-color: #fff;
    height: 61px;
    gap: 6px;
  }

  .MatcWorkspaceHeader {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;

    .MatcWorkspaceTitle {
      font-size: 18px;
      gap: 6px;
      .MatcFolderName {
        font-weight: 400;
      }
      .MatcAppName {
        font-weight: 500;
      }
    }
  }

  .MatcWorkspaceButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    .mdi {
      color: black;
    }
  }

  .MatcWorkspaceButton {
    padding: 4px 18px;
    font-size: 14px;
    background-color: white;
    border: none;
    color: rgb(74, 74, 74);
    border-radius: var(--border-radius-m);
    cursor: pointer;
  }

  .MatcWorkspaceButton.active,
  .MatcWorkspaceButton:hover {
    background-color: var(--sidebar-selected);
    color: rgb(74, 74, 74);
  }

  .MatcDropDownButton {
    color: black;
    border: 1px solid var(--border-color-soft);
    width: 180px;
    .MatcDropDownLabel {
      font-size: 14px;
    }
  }
  .MatcDropDownButton:hover {
    background: #f5f5f5;
  }

  .MatcDropDownPopUp ul {
    overflow: auto;
  }

  /*************************************/
  /************** TABS *****************/
  /*************************************/

  .MatcWorkspaceTabs {
    display: flex;
    padding: 0 50px 0px;
    margin: 0 0 10px;
    width: 100%;
    justify-content: center;
  }

  .MatcWorkspaceTab {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    gap: 10px;
    display: flex;
    align-items: center;
    position: relative;
    color: #505050;
    transition: color 0.3s ease, background-color 0.3s ease;
  }


  .MatcWorkspaceTab::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
  }

  .MatcWorkspaceTab:hover::after {
    background-color: var(--primary-color-hover);
    transform: scaleX(1);
    transform-origin: left;
  }

  .MatcWorkspaceTab.active,
  .MatcWorkspaceTab.active:hover {
    color: var(--primary-color);
    font-weight: 600;
  }

  .MatcWorkspaceTab.active::after {
    background-color: var(--primary-color);
    transform: scaleX(1);
    transform-origin: left;
  }

  .MatcWorkspaceHint {
    padding: $spacing-s;
    font-size: $font-size-xs;
    text-align: right;
    margin-bottom: $spacing-m;
  }

  .MatcWorkspaceMenu {
    background: #fff;
    border-right: 1px solid var(--border-color-soft);
    width: 220px;
    flex-shrink: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    a {
      display: block;
      display: flex;
      gap: 8px;
      align-items: center;

      .mdi {
        font-size: 16px;
      }
    }

    .MatcWorkspaceMenuHeader {
      padding: 16px 16px;
      border-bottom: 1px solid #ddd;
      font-weight: 700;
    }

    .MatcWorkspaceMenuFooter {
      padding: 8px 16px;
      border-top: 1px solid #ddd;
    }

    ul {
      flex-grow: 1;
    }

    li {
      a {
        padding: 4px 16px;
        transition: none;
      }
      display: block;
      cursor: pointer;

      &:hover {
        color: $form-color-hover;
        background: $layer-list-selection;
      }

      &.is-active {
        color: $form-color-hover;
        background: $layer-list-selection;
        font-weight: 700;
      }
    }
  }

  .MatcWorkspaceCntr {
    flex-grow: 1;
    overflow: auto;
  }
}

.MatcWorkspace .MatcFlexList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 32px 32px;
  padding-left: 20px;
  place-items: center;
}

.MatcAppListContFlex {
  display: flex;
  height: 100%;
  width: 100%;
}
.sidebar-container {
  flex-shrink: 0;
  transition: width 0.2s ease-in-out;
}

.content-container {
  flex-grow: 1;
  height: 100%;
}

.MatcOrgContainer {
  width: 100%;
}

.MatcSection:nth-child(even) {
  border-top: none;
  border-bottom: none;
}

.MatcFlexList .MatcListItem {
  margin-bottom: 16px;
}

.MatcAppListItem .MatcListItemFooter {
  width: 220px;
  border-top: 1px solid var(--border-color-soft);
  height: 70px;
  padding: 8px 10px;
  display: grid;
  gap: 5px;
}
