@import './design-system.scss';

.luisa-dialog-background{

  position: fixed;
  width: 100%;
  height: 100%;
  top:0px;
  left:0px;
  background: rgba(0,0,0,0.25);

  display: grid;
  place-items: center;
  z-index: 1000000;

  .luisa-dialog {
    background: $dialog-background;
    padding: $spacing-xl $spacing-l;
    border-radius: $border-radius-m;
    box-shadow: $shadow-m;
    width: 400px;
    height: 300px;
    overflow: auto;

    .luisa-btn-bar{
      margin-top: $spacing-m;
      padding: $spacing-m
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: $spacing-xl;
    padding: 0 $spacing-m ;
  }
}