@import "./design-system.scss";

.luisa-form-row {
  margin-bottom: $spacing-l;
  font-size: $font-size-s;

  > label {
    display: block;
    margin-bottom: $spacing-s;
    font-weight: 600;
  }

  input {
    margin: 0px;
    display: block;
    border: 1px solid $input-border-color;
    color: $input-color;
    padding: $spacing-m;
    border-radius: $border-radius-s;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: $font-size-s;

    &:focus {
      border: 1px solid $input-border-focus;
      color: $input-color-focus;
    }

    &.luisa-form-error {
      border-color: $color7;
      color: $color7;
    }

    &.luisa-form-input-short {
      width: 100px;
    }
  }

  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  textarea {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    height: 120px;
    margin: 0px;
    display: block;
    border: 1px solid $input-border-color;
    color: $input-color;
    padding: $spacing-s;
    border-radius: $border-radius-s;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: $font-size-s;

    &:focus {
      border: 1px solid $input-border-focus;
      color: $input-color-focus;
    }
  }
}

.luisa-form-row-horizontal {
  display: flex;
  align-items: center;
  gap: 8px;
}

.luisa-btn-bar {
  margin-top: $spacing-xl;
  display: flex;
  gap: $spacing-m;
  align-items: flex-start;
  justify-content: center;
}

.luisa-nav-btn-bar {
  margin-top: $spacing-xl;
  display: flex;
  gap: $spacing-m;
  justify-content: flex-end;
}

.luisa-btn-primary {
  background: $primary-background;
  background-repeat: no-repeat;
  color: $primary-color;
  padding: $spacing-s $spacing-m;
  border-radius: $border-radius-s;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: $font-size-s;
  text-decoration: none;

  transition: none;

  &:hover {
    text-decoration: none;
    background: $primary-background-hover;
    color: $primary-color-hover;
    box-shadowx: 0px 8px 16px 0px rgba(23, 54, 207, 0.2);
  }

  &:disabled {
    background: $primary-background-disabled;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.luisa-btn-danger {
  background: $danger-background;
  color: $danger-color;
  padding: $spacing-s;
  border-radius: $border-radius-s;
  outline: none;
  border: 1px solid $danger-border;
  cursor: pointer;
  font-size: $font-size-s;
  transition: $transition;

  &:hover {
    background-color: $danger-background-hover;
    color: $danger-color-hover;
  }
}

.luisa-btn-secondary {
  background: $secondary-background;
  background-repeat: no-repeat;
  color: $secondary-color;
  padding: $spacing-s;
  border: 1px solid $secondary-border;
  border-radius: $border-radius-s;
  outline: none;
  cursor: pointer;
  font-size: $font-size-s;
  text-decoration: none;

  transition: none;

  &:hover {
    background-color: $secondary-background-hover;
    color: $secondary-color-hover;
    text-decoration: none;
  }
}

.luisa-label-info {
  padding: $spacing-s;
  display: inline-block;
}

.luisa-label-error {
  padding: $spacing-s;
  display: inline-block;
  color: $color7;
}

.luisa-label-success {
  padding: $spacing-s;
  display: inline-block;
  color: $color-success;
}

.luisa-label-status {
  padding: $spacing-s 0;
  display: inline-block;
  color: $color4;
}

.luisa-label-hint {
  padding: $spacing-s;
  display: inline-block;
  color: $text-color;
}

.luisa-progress {
  width: 100%;
  height: $spacing-l;
  border-radius: $border-radius-s;
  overflow: hidden;
  background: $primary-background-disabled;

  .luisa-progress-bar {
    height: 100%;
    transition: $transition;
    background: $primary-background;
  }
}


label.luisa-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 16px;
}

.luisa-checkbox input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #3273dc;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
}

.luisa-checkbox input:checked ~ .checkbox-custom {
  background: var(--primary-color);
  border-color: #3273dc;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  display: none;
}

.luisa-checkbox input:checked ~ .checkbox-custom::after {
  display: block;
}

.luisa-checkbox .checkbox-custom::after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-label {
  font-size: 16px;
  color: #333;
}

/* Optional: Hover and Focus Effects */
.luisa-checkbox:hover .checkbox-custom {
  border-color: #0056b3;
}

.luisa-checkbox input:focus + .checkbox-custom {
  box-shadow: 0 0 3px var(--primary-color);;
}