.ai-flowrabbit {
  background-image: url("../assets/icons/ai-flowrabbit.svg");
}

.ai-claude {
  background-image: url("../assets/icons/ai-claude.svg");
}

.ai-perplexity {
  background-image: url("../assets/icons/ai-perplexity.svg");
}

.ai-openai {
  background-image: url("../assets/icons/ai-openai.svg");
}

.ai-deepgram {
  background-image: url("../assets/icons/ai-deepgram.svg");
  width: 16px;
  height: 16px;
}

.ai-gemini {
  background-image: url("../assets/icons/ai-gemini.svg");
}

.ai-openrouter {
  background-image: url("../assets/icons/ai-openrouter.svg");
}

.ai-replicate {
  background-image: url("../assets/icons/ai-replicate.svg");
}

.ai-elevenlabs {
  background-image: url("../assets/icons/ai-elevenlabs.svg");
}

.ai-azure {
  background-image: url("../assets/icons/ai-azure.svg");
}

.ai-blackforestlabs {
  background-image: url("../assets/icons/ai-blackforest.svg");
}

.coins-icon {
  height: 25px;
  width: 25px;
  background-image: url("../assets/icons/coins.svg");
  display: block;
}

.coins-icon-w {
  height: 25px;
  width: 25px;
  background-image: url("../assets/icons/coins-w.svg");
  display: block;
}

.carot-icon-b {
  height: 48px;
  width: 48px;
  background-image: url("../assets/icons/carot-b.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}

.carot-icon-w {
  height: 25px;
  width: 25px;
  background-image: url("../assets/icons/carot-w.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
}