.MatcSection {
    padding: 0rem;
}

.MatcSectionXS {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.MatcCard {
    background-color: rgb(255, 255, 255);
    color: rgb(42, 53, 71);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 7px;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
        rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    width: 100%;
    background-image: none;
    padding: 0px;
}

.MatcCardXL {
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px solid #e5e7eb;
    box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 8px 0px,
        rgba(145, 158, 171, 0.2) 0px 12px 24px -4px;
    overflow: hidden;
}


.MatcCardContent {
    padding: 24px;
}

.MatcCardContentSection {
    margin-left: -24px;
    margin-right: -24px;
    border-top: 1px solid #eaeaea;
    margin-top: 94px;
    padding-bottom: 8px;
}

.MatcCardHeader {
    padding: 12px 24px 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6rem;

    p {
        font-weight: bold;
        margin: 0;
        font-size: 20px;
    }
}

.MatcContentContainer {
    padding: 20px;
}

.MatcMarginBottom {
    margin-bottom: 24px;
}

.MatcMarginBottomXL {
    margin-bottom: 40px;
}

.MatcMarginTop {
    margin-top: 24px;
}

.MatcBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}