@import './design-system.scss';

.luisa-loading{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;

    .luisa-loading-header {
        color: rgb(255, 255, 255, 0.8);
        font-size: $font-size-xxl;
    }

    .luisa-logo{
        height: 64px;
    }
}

