:root {
    --primary-color: #007bff;
    --primary-color-hover: #0062cb;
    --primary-color-dark: #04152c;
    --from-button-color: #ffffffe2;
    --from-button-color-hover: #fff;   
    --primary-color: #007bff;
    --primary-color-hover: #0062cb;
    --color-primary: #007bff;
    --color-primary-hover: #0062cb;
    --danger-color: rgb(250, 137, 107);
    --border-radius-m: 6px;
    --danger-color-dark: rgb(202, 78, 44);
    --form-border: #ccc;
    --form-border-focus: #b5b5b5;
    --form-color: #04152c;
    --form-color-hover: rgb(38, 86, 218);
    --from-radius: 7px;
    --danger-color-light: rgb(255, 231, 224);
    --danger-color: rgb(250, 137, 107);
    --danger-color-dark: rgb(202, 78, 44);
    --warning-color-light: rgb(254, 245, 229);
    --warning-color: rgb(255, 174, 31);
    --warning-color-dark: rgb(214, 144, 24);    
  }