@import '../variables.scss';

.MatcDialogContainer {
  display: flex;

  .MatcToolbarTabs {
    margin-top: 24px;
    border-bottom: 1px solid #ccc;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 8px;
    text-align: left;

    .MatcToolbarTabActive {
      color: #115eff;
      font-size: 15px;
      font-weight: 500;
    }

    a {
      font-weight: 500;
      margin-bottom: -1px;
      font-size: 15px;
    }

    a.MatcToolbarTabActive {
      border-bottom-color: #115eff;
    }
  }



  .MatcDialogContent {
    width: 100%;
    padding: 16px 24px;
    padding-top: 0px;
    height: 100%;

    .MatcDialogContentHeader {
      margin-left: -24px;
      margin-right: -24px;
      padding: 0px 24px;
      padding-top: 16px;
      padding-bottom: 16px;
      font-size: 18px;
      font-weight: 600;
    }

    .MatcDialogContentHeaderBorder {
      background: #f7f7f7;
      border-bottom: 1px solid;
      border-bottom-color: #ddd;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-size: 14px;
    }

    .MatcDialogContentGrow{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }


    .MatcDialogContentHeader label {
      font-size: 18px;
      font-weight: 600;
    }

    .MatcDialogContentButton {
      display: inline-block;
      padding: 6px 20px;
      border-radius: 10px;
      cursor: pointer;
      -webkit-transition: all .25s;
      transition: all .25s;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      background-color: #2463eb;
      border-color: transparent;
      color: #fff;
    }

    .MatcDialogContentButton:hover {
      background-color: #093083;
    }

    .MatcDialogContentButtonLink {
      border-radius: 10px;
      padding: 5px 10px;
      /* display: inline-block; */
      cursor: pointer;
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 700;
      /* text-decoration: underline; */
      background: #f1f1f1;
      align-content: center;
    }

    .MatcDialogContentButtonLink:hover {
      background-color: #9e9e9e;
    }
  }

  .MatcDialogTest {
    width: 350px;
    padding: 20px;
    border-left: 1px solid #ddd;
    right: 0px;
    position: absolute;
    background: #f7f7f7;
    height: 100%;
    border-top-right-radius: var(--dialog-border-radius);
    border-bottom-right-radius: var(--dialog-border-radius);

    .MatcDialogTestResults {
      overflow: auto;
      height: 460px;
      padding-top: 8px;
    }

    .MatcDialogTestHeader {
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      align-items: center;

      .MatcDialogTestHeaderLabel {
        font-weight: 700;
        font-size: 18px;
      }
    }

    .MatcDialogTestButton {
      background: #f1f1f1;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      color: #115eff;
    }
  }

  .ParamsDataBindingContent {
    height: 280px;
    font-size: 15px;
    text-align: center;
    align-content: center;
    color: #9d9d9d;
  }
}

.MatcDialogFlexContainer {

  .MatcDialogContent {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .MatcDialogContentMain {
      flex-grow: 1;
      max-height: calc(100% - 64px);
      overflow: auto;

      .MatcToolbarTabs {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
  }
}


.MatcButtonBarDialogFull {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.MatcButtonBarDialogPadding {
  padding-top: 20px;
}

.MatcButtonBarDialogPaddingAll {
  padding: 20px;
}


.MatcButtonBarDialog {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.MatcButtonBarDialogMessage {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


.MatcDialogWithTest {

  .MatcDialogContent{
    width: 600px;
  }

  .MatcButtonBarDialog {
    width: 100%;
    max-width: 600px;
  }


  .ace_editor {
    border: 1px solid rgb(223, 229, 239);
    border-radius: 6px;
    max-width: 550px;
    max-height: 220px;
  }


  .ace_editor .ace_gutter-cell.ace_error{
    background: none;
  }


}

.MatcVisualEditor .ace_editor.ace_autocomplete {
  z-index: 999999999;
}

.MatcSplitDialog{
  display: flex;
  flex-direction: row;

  .MatcDialogContainer {
    width: 100%;
  }

  .MatcSplitDialogNav{
    border-right: 1px solid #ddd;
    background: #f7f7f7;
    width: 256px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      flex-grow: 1;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .MatcSplitDialogNavItem {
      width: 100%;
      display: flex;
      gap: 16px;
      cursor: pointer;
      padding: 4px 16px;
      padding-right: 8px;

      label {
        font-weight: 400;
        flex-grow: 1;
        cursor: pointer;
        opacity: 0.6;
        margin: 0;
      }

      .MatcFormRemoveIcon {
        opacity: 0;
      }
    }



    .MatcSplitDialogNavItem:hover {
      label {
          opacity: 1;
      }
      .MatcFormRemoveIcon {
        opacity: 1;
      }
    }

    .MatcSplitDialogNavItemSelected {
      label {
        opacity: 1;
      }
      background: #ddd;
     
    }
  }
}

